<style>
  :root {
    --background-color: #e2e2e2;
    --text-color: #000000;
    --text-color-secondary: #303030;
    --text-danger-color: #ff0000;
    --text-success-color: #00ff00;
    --text-warning-color: #ffff00;
    --text-info-color: #00ffff;
    --text-light-color: #ffffff;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: white;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  .flex {
    display: flex;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-around {
    justify-content: space-around;
  }
  .justify-evenly {
    justify-content: space-evenly;
  }
  .align-center {
    align-items: center;
  }
  .align-start {
    align-items: flex-start;
  }
  .align-end {
    align-items: flex-end;
  }
  .align-stretch {
    align-items: stretch;
  }
  .align-baseline {
    align-items: baseline;
  }

  .w-full {
    width: 100%;
  }

  .h-full {
    height: 100%;
  }

  .bg-danger {
    background-color: var(--text-danger-color);
  }

  .bg-success {
    background-color: var(--text-success-color);
  }

  .bg-warning {
    background-color: var(--text-warning-color);
  }

  .bg-info {
    background-color: var(--text-info-color);
  }

  .button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    color: var(--text-color);
    cursor: pointer;
  }

  .bold {
    font-weight: bold;
  }

  .text-center {
    text-align: center;
  }

  .text-danger {
    color: var(--text-danger-color);
  }

  .text-success {
    color: var(--text-success-color);
  }

  .text-warning {
    color: var(--text-warning-color);
  }

  .text-info {
    color: var(--text-info-color);
  }

  .container {
    width: 80%;
    margin: 0 auto;
    background-color: var(--background-color);
  }

  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
    }
  }
</style>
